[submodule "collector"]
	path = collector
	url = git@github.com:PaulBoutes/collector.git
[submodule "aggregator"]
	path = aggregator
	url = git@github.com:PaulBoutes/aggregator.git
[submodule "client-visualizer"]
	path = client-visualizer
	url = git@github.com:PaulBoutes/client-visualizer.git
[submodule "proto"]
	path = proto
	url = git@github.com:PaulBoutes/proto.git
[submodule "metrics-gatherer"]
	path = metrics-gatherer
	url = git@github.com:ArchangelX360/metrics-gatherer.git
